<div class="modal" #bookingModal>
  <div class="modal-background" (click)="closeModal($event)"></div>
  <div class="modal-card">f
    <header class="modal-card-head">
      <p class="modal-card-title">{{lodging?.name ? lodging.name : 'Create Booking'}}</p>
      <button class="delete" aria-label="close" (click)="closeModal($event)"></button>
    </header>
    <section class="modal-card-body">
      <!-- Booking form -->
      <form [formGroup]='bookingForm'>

        <!-- Check in and check out -->
        <div style="margin-bottom: 1.5rem;">
          <label for="check-in" class="label">Check-In / Check-Out</label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input formControlName="checkIn" class="input" id="check-in" name="check-in"
                placeholder="Add the traveling date" type="date">
            </div>
            <div class="control is-expanded">
              <input formControlName="checkOut" class="input" id="check-out" name="check-out"
                placeholder="Add the returning date" type="date">
            </div>
          </div>
        </div>

        <div class="columns is-vcentered">
          <!-- * Dynamic Guests input * -->
          <div class="label column">Guest Infomation</div>
          <control-messages [control]="bookingForm.get('guests')"></control-messages>

          <!-- * Add additional guest fields * -->
          <span class="add-guest-input column" style="text-align: right;">
            <button class="button is is-primary" type="button" (click)="addNextGuestItem()">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </span>
        </div>

        <div class="guest-fields field" formArrayName="guests" style="margin-bottom: 1.5rem;">
          <ng-container *ngFor="let guestInput of bookingForm?.get('guests')?.controls; let i = index">
            <div [formGroupName]="i" class="card" style="padding: 5px;">
              <!-- First and last names -->
              <div class="field has-addons columns">
                <div class="control column is-half">
                  <input type="text" class="input" formControlName="given" placeholder="Given Name">
                  <control-messages [control]="guestInput.get('given')"></control-messages>
                </div>
                <div class="control column is-half">
                  <input type="text" class="input" formControlName="family" placeholder="Family Name">
                  <control-messages [control]="guestInput.get('family')"></control-messages>
                </div>
              </div>
              <!-- Email and phone number -->
              <div class="field has-addons columns">
                <div class="control column is-half">
                  <input type="email" class="input" formControlName="email" placeholder="Email">
                  <control-messages [control]="guestInput.get('email')"></control-messages>
                </div>
                <div class="control column is-half">
                  <input type="tel" pattern="[0-9]+" class="input" formControlName="phone" placeholder="Phone">
                  <control-messages [control]="guestInput.get('phone')"></control-messages>
                </div>
              </div>
              <!-- Remove btn -->
              <button class="button is-danger" (click)="removeGuestItem(i)">
                Remove
              </button>
            </div>
          </ng-container>
        </div>

        <!-- Rentals -->
        <div class="field" *ngIf="lodging?.rentals" style="margin-bottom: 1.5rem;">
          <div class="columns">
            <div class="column is-half">
              <label class="label">Select Rentals</label>
            </div>
            <div class="column is-half">
              <label class="label">Selected Rentals</label>
            </div>
          </div>
          <control-messages [control]="bookingForm.get('rentals')"></control-messages>
          <div class="columns is-vcentered">
            <div class="column is-half select is-multiple">
              <select [size]="Math.min(3, lodging.rentals.length > 0 ? lodging.rentals.length : 0)" multiple
                class="form-control rental-select" formControlName="rentals" style="width: 100%;">
                <option *ngFor="let rental of lodging.rentals" [ngValue]="rental">{{rental.name}}</option>
              </select>
            </div>
            <div class="column is-half">
              <div *ngFor="let rental of f.rentals.value">
                <p><span>{{rental.name}}</span>, <span>Occupancy: {{rental.rentalUnit.occupancy}}</span></p>
                <p><span>Bedrooms: {{rental.rentalUnit.bedrooms.length}}, Bathrooms:
                    {{rental.rentalUnit.bathrooms.length}}</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Booking form -->
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="onBookingFormSubmit()"
        [disabled]="! bookingForm?.valid">Submit</button>
      <button class="button is-danger" (click)="closeModal($event)">Cancel</button>
    </footer>
  </div>
</div>