<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br>
      <h1 class="title is-2">Booking</h1>
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="tile is-parent">

              <div class="tile is-child is-5">
                <div class="field">
                  <label for="location" class="label">Location</label>
                  <div class="control">
                    <input formControlName="location" class="input" id="location" name="location"
                      placeholder="Search by Location" type="text">
                  </div>
                </div>
              </div>

              <div class="tile is-child is-5">
                <label for="check-in" class="label">Check-In / Check-Out</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input formControlName="checkIn" class="input" id="check-in" name="check-in"
                      placeholder="Add the traveling date" type="date">
                  </div>
                  <div class="control is-expanded">
                    <input formControlName="checkOut" class="input" id="check-out" name="check-out"
                      placeholder="Add the returning date" type="date">
                  </div>
                </div>
              </div>

              <div class="tile is-child is-2">
                <label for="guests" class="label">Guests</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input formControlName="guests" class="input" id="guests" name="guests"
                      placeholder="Number of Guests" type="number" min="0">
                  </div>
                  <div class="control">
                    <button class="button is-primary" type="submit">search</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <ng-template #loading>
            <div class="column has-text-centered">
              <p>Loading . . .</p>
            </div>
          </ng-template>

          <ng-container *ngIf="lodgings$ | async as lodgings; else loading">
            <ng-container *ngIf="!lodgings.length">
              <div class="column has-text-centered">No Results Found</div>
            </ng-container>

            <!-- Spotlight Lodging -->
            <div *ngIf="lodgings[0]" class="tile is-parent">
              <div class="tile box has-background-dark is-child">
                <div class="columns">
                  <div class="column is-4">
                    <figure class="image is-16by9">
                      <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                    </figure>
                  </div>

                  <div class="column">
                    <div class="content has-text-light">
                      <p class="title has-text-light is-4">{{lodgings[0].name}}</p>
                      <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quis sapiente sed
                        laudantium
                        necessitatibus, reiciendis atque quae provident exercitationem eaque ullam quas fugit error.
                        Necessitatibus labore dolore incidunt omnis possimus.
                        Temporibus quis, dolorem omnis nulla, impedit illo a aperiam sapiente culpa velit animi saepe
                        eum
                        fuga at odio hic modi quia sequi repellendus. A, expedita assumenda esse dicta incidunt atque.
                        Temporibus, vel fugiat amet adipisci nam veritatis dolore, accusamus nemo laboriosam assumenda
                        in
                        blanditiis ullam aut id velit debitis, doloremque aliquam laudantium at. Natus incidunt
                        officiis,
                        officia sapiente doloremque debitis.
                        Modi similique, accusamus nam nobis voluptas eius commodi officiis maxime quibusdam, aliquid
                        distinctio, provident ut porro odio ducimus soluta et molestiae. Error, autem ipsa quis
                        dignissimos
                        commodi voluptas maxime quo.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Lodging Tile -->
            <ng-container *ngFor="let lodgingsRow of lodgingsRow(lodgings, 4)">
              <div class="tile">
                <div class="tile is-parent" *ngFor="let lodging of lodgingsRow">
                  <div class="tile is-child" *ngIf="lodging" (click)="openModal($event, lodging)">
                    <p class="title">{{lodging.name}}</p>
                    <p class="content">{{lodging.location?.address?.street}},
                      {{lodging.location?.address?.city}},
                      {{lodging.location?.address?.stateProvince}}</p>
                    <figure class="image is-16by9">
                      <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                    </figure>
                    <div onclick="event.stopPropagation()">
                      <a routerLink="/lodging/{{lodging.id}}" class="button is-white is-small">Details</a>
                    </div>
                  </div>
                </div>

              </div>
            </ng-container>

          </ng-container>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" #bookingModal>
  <div class="modal-background" (click)="closeModal($event)"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create Booking</p>
      <button class="delete" aria-label="close" (click)="closeModal($event)"></button>
    </header>
    <section class="modal-card-body">
      <!--CREATE BOOKING FORM HERE-->
      <form [formGroup]='bookingForm'>

        <div class="columns">
          <!-- * Dynamic Guests input * -->
          <label class="label column">Guest Infomation</label>

          <!-- * Add additional guest fields * -->
          <span class="add-guest-input column" style="text-align: right;">
            <button class="button is is-primary" type="button" (click)="addNextGuestItem()">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </span>
        </div>

        <div class="guest-fields field" formArrayName="guests">
          <ng-container
            *ngFor="let guestInput of $any(bookingForm.controls['guests']).controls as guestControls; let i = index">
            <div [formGroupName]="i" class="card" style="padding: 5px;">
              <!-- First and last names -->
              <div class="field has-addons columns">
                <div class="control column is-half">
                  <input type="text" class="input" formControlName="given" placeholder="Given Name">
                </div>
                <div class="control column is-half">
                  <input type="text" class="input" formControlName="family" placeholder="Family Name">
                </div>
              </div>
              <!-- Email and phone number -->
              <div class="field has-addons columns">
                <div class="control column is-half">
                  <input type="email" class="input" formControlName="email" placeholder="Email">
                </div>
                <div class="control column is-half">
                  <input type="tel" pattern="[0-9]+" class="input" formControlName="phone" placeholder="Phone">
                </div>
              </div>
              <!-- Remove btn -->
              <button class="button is-danger" (click)="removeGuessItem(i)">
                Remove
              </button>
            </div>
          </ng-container>
        </div>

        <!-- Check in and check out -->
        <label for="check-in" class="label">Check-In / Check-Out</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input formControlName="checkIn" class="input" id="check-in" name="check-in"
              placeholder="Add the traveling date" type="date">
          </div>
          <div class="control is-expanded">
            <input formControlName="checkOut" class="input" id="check-out" name="check-out"
              placeholder="Add the returning date" type="date">
          </div>
        </div>

      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="onBookingFormSubmit()">Submit</button>
      <button class="button is-danger" (click)="closeModal($event)">Cancel</button>
    </footer>
  </div>
</div>