<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br>
      <h1 class="title is-2">Booking</h1>
      <div class="tile is-ancestor">
        <div class="tile is-vertical">

          <!-- Search form -->
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="tile is-parent">

              <!-- Location fo search form -->
              <div class="tile is-child is-5">
                <div class="field">
                  <label for="location" class="label">Location</label>
                  <div class="control">
                    <input formControlName="location" class="input" id="location" name="location"
                      placeholder="Search by Location" type="text">
                  </div>
                </div>
              </div>

              <!-- Check in/check out for search form-->
              <div class="tile is-child is-5">
                <label for="check-in" class="label">Check-In / Check-Out</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input formControlName="checkIn" class="input" id="check-in" name="check-in"
                      placeholder="Add the traveling date" type="date">
                  </div>
                  <div class="control is-expanded">
                    <input formControlName="checkOut" class="input" id="check-out" name="check-out"
                      placeholder="Add the returning date" type="date">
                  </div>
                </div>
              </div>

              <!-- Guests for search form -->
              <div class="tile is-child is-2">
                <label for="guests" class="label">Guests</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input formControlName="guests" class="input" id="guests" name="guests"
                      placeholder="Number of Guests" type="number" min="0">
                  </div>
                  <div class="control">
                    <button class="button is-primary" type="submit">search</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- Loading for lodgings$ -->
          <ng-template #loading>
            <div class="column has-text-centered">
              <p>Loading . . .</p>
            </div>
          </ng-template>

          <ng-container *ngIf="lodgings$ | async as lodgings; else loading">
            <ng-container *ngIf="!lodgings.length">
              <div class="column has-text-centered">No Results Found</div>
            </ng-container>

            <!-- Spotlight Lodging -->
            <div *ngIf="lodgings[0]" class="tile is-parent">
              <div class="tile box has-background-dark is-child">
                <div class="columns">
                  <div class="column is-4">
                    <figure class="image is-16by9">
                      <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                    </figure>
                  </div>

                  <div class="column">
                    <div class="content has-text-light">
                      <p class="title has-text-light is-4">{{lodgings[0].name}}</p>

                      <div class="columns">

                        <!-- Spotlight description-->
                        <div class="column">
                          <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa sit praesentium, at tempore
                            porro voluptates delectus vel exercitationem consectetur harum, odio eum vitae. Nostrum cum
                            non, possimus laboriosam quas nesciunt!
                          </p>
                        </div>

                        <!-- Spotlight reviews-->
                        <div class="column">
                          <p *ngIf="! lodgings[0].reviews.length; else reviews">
                            There are no reviews for this lodging.
                          </p>
                          <ng-template #reviews>
                            <ng-container *ngFor="let review of lodgings[0].reviews.slice(0,2)">
                              <p *ngIf="review">
                                <span class="icon"
                                  [ngClass]="review.rating >= 1 ? 'has-text-white-bis' : 'has-text-grey'"><i
                                    class="fa-star fas"></i></span>
                                <span class="icon"
                                  [ngClass]="review.rating >= 2 ? 'has-text-white-bis' : 'has-text-grey'"><i
                                    class="fa-star fas"></i></span>
                                <span class="icon"
                                  [ngClass]="review.rating >= 3 ? 'has-text-white-bis' : 'has-text-grey'"><i
                                    class="fa-star fas"></i></span>
                                <span class="icon"
                                  [ngClass]="review.rating >= 4 ? 'has-text-white-bis' : 'has-text-grey'"><i
                                    class="fa-star fas"></i></span>
                                <span class="icon"
                                  [ngClass]="review.rating >= 5 ? 'has-text-white-bis' : 'has-text-grey'"><i
                                    class="fa-star fas"></i></span>
                                <span style="text-overflow: ellipsis;"
                                  style="padding-left: 1rem;">{{review.comment}}</span>
                              </p>
                            </ng-container>
                          </ng-template>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Lodging Tile -->
            <ng-container *ngFor="let lodgingsRow of lodgingsRow(lodgings, 3)">
              <div class="tile">
                <div class="tile is-parent" *ngFor="let lodging of lodgingsRow">
                  <div class="tile is-child box" *ngIf="lodging" (click)="bookingModal.openModal($event, lodging)">
                    <p class="title">{{lodging.name}}</p>
                    <p class="content">{{lodging.location?.address?.street}},
                      {{lodging.location?.address?.city}},
                      {{lodging.location?.address?.stateProvince}}</p>
                    <figure class="image is-16by9">
                      <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                    </figure>
                    <div onclick="event.stopPropagation()">
                      <a routerLink="/lodging/{{lodging.id}}" class="button is-white is-small">Details</a>
                    </div>
                  </div>
                </div>

              </div>
            </ng-container>

          </ng-container>

        </div>
      </div>
    </div>
  </div>
</section>

<uic-booking-modal [booking]="booking" [searchData]="this.f"></uic-booking-modal>