<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br>
      <h1 class="title is-2">Booking</h1>
      <div class="tile is-ancestor">
        <div class="tile is-vertical">

          <uic-booking-search-form [searchForm]="searchForm" [lodgings$]="lodgings$"
            (lodgingsChange)="this.lodgings$ = $event"></uic-booking-search-form>

          <!-- Loading for lodgings$ -->
          <ng-template #loading>
            <div class="column has-text-centered">
              <p>Loading . . .</p>
            </div>
          </ng-template>

          <ng-container *ngIf="lodgings$ | async as lodgings; else loading">
            <ng-container *ngIf="!lodgings.length">
              <div class="column has-text-centered">No Results Found</div>
            </ng-container>

            <!-- Spotlight Lodging -->
            <div *ngIf="lodgings[0]" class="tile is-parent spotlight">
              <div class="tile box has-background-dark is-child">
                <div class="columns">
                  <div class="column is-4">
                    <figure class="image is-16by9">
                      <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                    </figure>
                  </div>

                  <div class="column">
                    <div class="content has-text-light">
                      <p class="title has-text-light is-4">{{lodgings[0].name}}</p>

                      <div class="columns">

                        <!-- Spotlight description-->
                        <div class="column">
                          <p>
                            {{lodgings[0].description}}
                          </p>
                        </div>

                        <!-- Spotlight reviews-->
                        <div class="column">
                          <p *ngIf="! lodgings[0].reviews.length; else reviews">
                            There are no reviews for this lodging.
                          </p>
                          <ng-template #reviews>
                            <ng-container *ngFor="let review of lodgings[0].reviews.slice(0,2)">
                              <p *ngIf="review">
                                <span class="icon"
                                  [ngClass]="review.rating >= 0 ? 'has-text-white-bis' : 'has-text-grey'"><em
                                    class="fa-star fas"></em></span>
                                <span class="icon"
                                  [ngClass]="review.rating >= 2 ? 'has-text-white-bis' : 'has-text-grey'"><em
                                    class="fa-star fas"></em></span>
                                <span class="icon"
                                  [ngClass]="review.rating >= 4 ? 'has-text-white-bis' : 'has-text-grey'"><em
                                    class="fa-star fas"></em></span>
                                <span class="icon"
                                  [ngClass]="review.rating >= 6 ? 'has-text-white-bis' : 'has-text-grey'"><em
                                    class="fa-star fas"></em></span>
                                <span class="icon"
                                  [ngClass]="review.rating >= 8 ? 'has-text-white-bis' : 'has-text-grey'"><em
                                    class="fa-star fas"></em></span>
                                <span style="text-overflow: ellipsis;"
                                  style="padding-left: 1rem;">{{review.comment}}</span>
                              </p>
                            </ng-container>
                          </ng-template>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Lodgings List -->
            <uic-lodgings-list [lodgings]="this.lodgings"
              (lodgingClickHandler)="bookingModal.openModal($event.event, $event.lodging)"></uic-lodgings-list>

          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <uic-bookings-list [pageLimit]="5"></uic-bookings-list> -->

<uic-booking-modal [booking]="booking" [lodging]="lodging" [searchData]="searchForm?.controls"></uic-booking-modal>