<button [ngClass]="display ? 'is-hidden': ''" (click)="display = true" class="button">Show Bookings</button>
<div id="bookings-list-container container" [ngClass]="display ? '' : 'is-hidden'">
  <h2 class="title is-5">Bookings</h2>

  <div *ngIf="(bookings$ | async)?.length === 0">No bookings found.</div>

  <table class="table is-striped" style="width: 100%;" *ngIf="(bookings$ | async)?.length">
    <caption class="is-sr-only">Displayed all current bookings.</caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scole="col">Status</th>
        <th scole="col">Check-In </th>
        <th scole="col">Check-out</th>
        <th scole="col">Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Status</th>
        <th scope="col">Check-In </th>
        <th scope="col">Check-out</th>
        <th scope="col">Actions</th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let booking of (bookings$ | async)">
        <td>{{booking.id}}</td>
        <td>{{booking.status}}</td>
        <td>{{booking.stay.checkIn}}</td>
        <td>{{booking.stay.checkOut}}</td>
        <td>
          <div class="columns is-0">
            <div class="column" style="padding-right: 0; flex-grow: 0;">
              <button class="button is-small is-primary" style="margin: 0;" (click)="editBooking(booking)">Edit</button>
            </div>
            <div class="column">
              <button class="button is-small is-danger" style="margin: 0;"
                (click)="deleteBooking(booking)">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>