<div id="bookings-list-container container">
  <h2 class="title is-5">Bookings</h2>

  <table class="table is-striped" style="width: 100%;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Check-In </th>
        <th>Check-out</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Check-In </th>
        <th>Check-out</th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let booking of (bookings$ | async)">
        <td>{{booking.id}}</td>
        <td>{{booking.status}}</td>
        <td>{{booking.stay.checkIn}}</td>
        <td>{{booking.stay.checkOut}}</td>
      </tr>
    </tbody>
  </table>

</div>
